{% extends "xsearch/_layouts/settings" %}

{% set title = 'Result Fields'|t('xsearch') %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ "Result Fields"|t('xsearch') }}</h2>

    {{ actionInput('xsearch/result-settings/save') }}
    {{ redirectInput('xsearch/settings/results') }}

    {{ forms.fieldLayoutDesignerField({
        fieldLayout: fieldLayout,
    }) }}
{% endblock %}
