{% extends 'xsearch/_layouts/settings' %}

{% set title = 'General Settings'|t('xsearch') %}

{% set tabs = [
    {
        label: 'General'|t('xsearch'),
        url: '#settings-general-general',
        class: item.hasGeneralErrors() ? 'error' : null,
    },
    {
        label: 'Features'|t('xsearch'),
        url: '#settings-general-features',
        class: item.hasFeaturesErrors() ? 'error' : null,
    },
    {
        label: 'Indexing'|t('xsearch'),
        url: '#settings-general-indexing',
        class: item.hasIndexingErrors() ? 'error' : null,
    },
] %}

{% if craft.xsearch.isPro %}
    {% set tabs = tabs|merge([{
        label: 'Sitemap'|t('xsearch'),
        url: '#settings-general-sitemap',
        class: item.hasSitemapErrors() ? 'error' : null,
    }]) %}
{% endif %}

{% block actionButton %}
    <div class="buttons">
        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('xsearch') }}">
        </div>
    </div>
{% endblock %}

{% block content %}
    {{ actionInput('xsearch/settings/save') }}
    {{ redirectInput('xsearch/settings/general') }}

	<div id="settings-general-general">
		{% include 'xsearch/settings/_general/item-general' %}
	</div>

	<div id="settings-general-features" class="hidden">
		{% include 'xsearch/settings/_general/item-features' %}
	</div>

	<div id="settings-general-indexing" class="hidden">
		{% include 'xsearch/settings/_general/item-indexing' %}
	</div>

    {% if craft.xsearch.isPro %}
        <div id="settings-general-sitemap" class="hidden">
            {% include 'xsearch/settings/_general/item-sitemap' %}
        </div>
    {% endif %}
{% endblock %}
