{% set meta = craft.xsearch.redirectsMeta %}

{% if not craft.xsearch.hasRedirects %}
    {% redirect meta.url ~ '/new' %}
{% endif %}

{% extends meta.layout %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Redirects'|t('xsearch') %}

{% block actionButton %}
    <a href="{{ url('xsearch/redirects/new') }}" class="btn submit add icon">
        {{'New Redirect'|t('xsearch')}}
    </a>
{% endblock %}

{% block content %}
    <div id="xsearch_index_table"></div>
{% endblock %}

{% set tableData = [] %}

{% for item in items %}
	{% set tableData = tableData|merge([{
        id: item.id,
        title: item.fromUrl,
        toUrl: item.toUrl,
        type: craft.xsearch.redirectTypeOptions()[item.type],
        priority: item.priority,
        url: url(meta.url ~ '/' ~ item.id),
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('xsearch', 'From'),
        },
        {
            name: 'toUrl',
            title: Craft.t('xsearch', 'To'),
        },
        {
            name: 'type',
            title: Craft.t('xsearch', 'Type'),
        },
        {
            name: 'priority',
            title: Craft.t('xsearch', 'Priority'),
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#xsearch_index_table',
        deleteAction: 'xsearch/redirect/delete',
        emptyMessage: Craft.t('xsearch', 'No redirect available.'),
        tableData: {{tableData|json_encode|raw}},
    });
{% endjs %}
