{% set meta = craft.search.termMapsMeta %}

{% if not craft.search.hasTermMaps %}
    {% redirect meta.url ~ '/new' %}
{% endif %}

{% extends meta.layout %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Search Term Maps'|t('search') %}

{% block actionButton %}
    <a href="{{ url(meta.url ~ '/new') }}" class="btn submit add icon">
        {{'New Map'|t('search')}}
    </a>
{% endblock %}

{% block content %}
    <div id="search_index_table"></div>
{% endblock %}

{% set tableData = [] %}

{% for item in items %}
	{% set tableData = tableData|merge([{
        id: item.id,
        title: item.term,
        alternate: item.alternate,
        url: url(meta.url ~ '/' ~ item.id),
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('search', 'Search Term'),
        },
        {
            name: 'alternate',
            title: Craft.t('search', 'Alternate'),
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#search_index_table',
        deleteAction: 'search/term-maps/delete',
        emptyMessage: Craft.t('search', 'No term maps available.'),
        tableData: {{tableData|json_encode|raw}},
    });
{% endjs %}
