{% extends '_layouts/cp' %}

{% set fullPageForm = true %}

{% set selectedSubnavItem = 'rules' %}

{% set navItems = craft.xsearch.rulesNavItems %}

{% if navItems|length > 1 %}
    {% set selectedItem = craft.app.request.getSegment(3)|default %}

    {% set crumbs = [
        { label: craft.xsearch.name, url: url('xsearch') },
        { label: 'Rules'|t('xsearch'), url: url('xsearch/rules') },
    ] %}
{% else %}
    {% set selectedItem = craft.app.request.getSegment(2)|default %}

    {% set crumbs = [
        { label: craft.xsearch.name, url: url('xsearch') },
    ] %}
{% endif %}

{% if pageTitle ?? false %}
    {% set docTitle = pageTitle ~ ' - ' ~ navItems[selectedItem].title ~ ' - ' ~ 'Search'|t('xsearch') %}
{% else %}
    {% set docTitle = navItems[selectedItem].title ~ ' - ' ~ 'Search'|t('xsearch') %}
{% endif %}

{% block sidebar %}
    {% if navItems|length > 1 %}
        <nav>
            <ul>
                {% for id, item in navItems %}
                    {% if item.heading is defined %}
                        <li class="heading"><span>{{ item.heading }}</span></li>
                    {% else %}
                        <li{% if item.id is defined %} id="{{item.id}}"{% endif %}>
                            <a href="{{url('xsearch/rules/' ~ id)}}"
                                {% if id == selectedItem %} class="sel"{% endif %}
                            >
                                {{item.title}}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}
