{% extends '_layouts/cp' %}

{% set fullPageForm = true %}

{% set selectedSubnavItem = 'settings' %}

{% set navItems = craft.search.settingsNavItems %}

{% set selectedItem = craft.app.request.getSegment(3)|default %}

{% set crumbs = [
    { label: craft.search.name, url: url('search') },
    { label: 'Settings'|t('search'), url: url('search/settings/general') },
] %}

{% if pageTitle ?? false %}
    {% set docTitle = pageTitle ~ ' - ' ~ navItems[selectedItem].title ~ ' - ' ~ 'Search'|t('search') %}
{% else %}
    {% set docTitle = navItems[selectedItem].title ~ ' - ' ~ 'Search'|t('search') %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    <li{% if item.id is defined %} id="{{item.id}}"{% endif %}>
                        <a href="{{url('search/settings/' ~ id)}}"
                            {% if id == selectedItem %} class="sel"{% endif %}
                        >
                            {{item.title}}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
