{% set meta = craft.xsearch.termPrioritiesMeta %}

{% if not craft.xsearch.hasTermPriorities %}
    {% redirect meta.url ~ '/new' %}
{% endif %}

{% extends meta.layout %}
{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% set title = 'Search Term Priorities'|t('xsearch') %}

{% block actionButton %}
    <a href="{{ url(meta.url ~ '/new') }}" class="btn submit add icon">
        {{'New Priority'|t('xsearch')}}
    </a>
{% endblock %}

{% block content %}
    <div id="xsearch_index_table"></div>
{% endblock %}

{% set tableData = [] %}

{% for item in items %}
	{% set tableData = tableData|merge([{
        id: item.id,
        title: item.term,
        searchPriority: item.searchPriority,
        resultUrlValue: item.resultUrlValue,
        resultUrlComparator: craft.xsearch.comparatorOptions[item.resultUrlComparator],
        url: url(meta.url ~ '/' ~ item.id),
    }]) %}
{% endfor %}

{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('xsearch', 'Search Term'),
        },
        {
            name: 'resultUrlValue',
            title: Craft.t('xsearch', 'URI Value'),
        },
        {
            name: 'resultUrlComparator',
            title: Craft.t('xsearch', 'URI Comparator'),
        },
        {
            name: 'searchPriority',
            title: Craft.t('xsearch', 'Priority'),
        },
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#xsearch_index_table',
        deleteAction: 'xsearch/term-priorities/delete',
        emptyMessage: Craft.t('xsearch', 'No search term priorities available.'),
        tableData: {{tableData|json_encode|raw}},
    });
{% endjs %}
